.upload{text-align:center;}
.submit{padding:5px 200px 0px 0px;}
.myThesis{padding:20px 0 0 15%;}
.myThesis input{margin:0 0 10px;}
 p{font-size:20px;font-color:#000000;padding:0 30px; margin:0px;}

//infoemation
.add{padding:0 0 0 10%;margin:0px;}
.add ul li{padding:10px 0 0 0}
