.shell{padding:10px 10px 0px 5px;}
table{background-color:#FFF;}
table tr td{vertical-align:middle;padding:2px 10px 2px 0px;height:20px;text-height:18px;}
table tr th{text-align:center;}

.submit_b{padding:10px 0 0 300px;}

//infoemation
.add{padding:0 0 0 10%;margin:0px;}
.add ul li{padding:10px 0 0 0}